$mainFont: 'Quicksand';
$fontLight: 300;
$fontNormal: 500;
$fontBold: 700;
$fontS: 0.8rem;
$fontM: 1rem;
$fontL: 1.4rem;
$fontXL: 2rem;
$fontXXL: 4rem;
$defaultCursor: pointer;
$buttonIconColor: #c44536;
